# First Notebook
## first notebook
### first Notebook

* Hello students
     * hello

In [1]:
print('Hello world')

Hello world

In [2]:
# variables
# vary + able
# water bottle --> cold
# warm water
# cold water

In [3]:
# a = variable
# = is operator
# 10 is value
a = 10
print(a)

10

In [4]:
print(a)

10

In [5]:
a = 20
print(a)

20

In [6]:
a=20
b='why are you late'
print(a)
print(b)

20
why are you late

In [7]:
_percent = 50
print(_percent)

50

In [8]:
Company_name = 'tata motors'
print(Company_name)

tata motors

In [9]:
Cricketer_name65 = 'Suryakumar Yadav'
print(Cricketer_name65)

Suryakumar Yadav

In [10]:
jersey18 = 'Virat Kohli'
print(jersey18)

Virat Kohli

In [11]:
footballer_name6 = 'zaki'
print(footballer_name6)

zaki

In [12]:
# Variable casting
x = str(5)
print(x,type(x))

5 <class 'str'>

In [13]:
y = 5
print(type(y))

<class 'int'>

In [14]:
Demo = float(111)
print(Demo,type(Demo))

111.0 <class 'float'>

In [15]:
demo1 = 111.21
print(demo1,type(demo1))

111.21 <class 'float'>

In [16]:
# Case sensitive example
Z = 'Today is Thursday'
z = 'Yesterday it was Wednesday'
print(Z)
print(z)

Today is Thursday
Yesterday it was Wednesday

In [17]:
print(Z,z)

Today is Thursday Yesterday it was Wednesday

In [18]:
x1,x2,x3 = 'Monday','Tuesday','Sunday'
print(x1)
print(x2)
print(x3)

Monday
Tuesday
Sunday

In [19]:
a1 = 'I'
a2 = ' like'
a3 = ' ice creams'
print(a1+a2+a3)

I like ice creams

In [20]:
a1 = 'I'
a2 = 'like'
a3 = 'ice creams'
print(a1+' '+a2+' '+a3)

I like ice creams

In [21]:
a1 = 'I'
a2 = 'like'
a3 = 'ice creams'
print(a1,a2,a3)

I like ice creams

In [22]:
# String Datatype with indexing
sentence = 'today is a wonderful day'
print(sentence[4])
print(sentence[7])
print(sentence[8])

y
s

In [23]:
# Practice 25 Nov 22
a=12
print(type(a))

<class 'int'>

In [24]:
b=12.5
print(type(b))

<class 'float'>

In [25]:
c = 12.54677879664
print(c)

12.54677879664

In [26]:
# complex numbers
# real + imaginary number
d=2*4
print(d)

8

In [27]:
e = -7 * -4
print(e)

28

In [28]:
e = -8 * -4j
print(e,type(e))
e1 = 2/4j
print(e1)

32j <class 'complex'>
-0.5j

In [29]:
# data type casting

f = str(4)
print(f,type(f))

4 <class 'str'>

In [30]:
g = float(5)
print(g,type(g))

5.0 <class 'float'>

In [31]:
animal = 'hippopotamus'
print(animal,type(animal))
print(animal[10])
print(animal[-5])

hippopotamus <class 'str'>
u
t

In [32]:
print(len(animal))

12

In [33]:
actor = 'akshay kumar is a superstar'
print(len(actor))

27

In [34]:
# check string
msg = 'today is the last day of earth'
print("the" in msg)

True

In [35]:
print('why' in msg)

False

In [36]:
print('Today' in msg)

False

In [37]:
# slicing
saturday = 'I want everyone to be present tomorrow'

In [38]:
print(saturday[2:6])

want

In [39]:
print(saturday[1:])

 want everyone to be present tomorrow

In [40]:
print(saturday[:5])

I wan

In [41]:
print(saturday[::])

I want everyone to be present tomorrow

In [42]:
print(saturday[:])

I want everyone to be present tomorrow

In [43]:
print(saturday[-1])

w

In [44]:
print(saturday[-26:-1])

one to be present tomorro

In [45]:
print(saturday[-8:])

tomorrow

In [46]:
print(saturday[0:-1])

I want everyone to be present tomorro

In [47]:
print(saturday[-1:-7:-1])

worrom

In [48]:
name = 'john parker'
print(name[0:4])
print(name[-11:-7])

john
john

In [49]:
print(name[-8::-1])
print(name[-1:-8])

nhoj

In [50]:
# Upper method
name3 = 'shubham'
print(name3.upper())

SHUBHAM

In [51]:
# Lower function
name4 = 'SHUbham'
print(name4.lower())

shubham

In [52]:
# replace method
name5 = 'i love my country'

In [53]:
print(name5.replace('country','india'))

i love my india

In [54]:
# changing first character into a upper case
movie = 'tumbbad'
# storing the print output into a new variable
movie1 = movie.capitalize()
print(movie.capitalize())
print(movie.title())
print(movie1)
print(movie)

Tumbbad
Tumbbad
Tumbbad
tumbbad

In [55]:
# check if the string ends with a particular element
sentence = 'This is ML Batch 11'
print(sentence.endswith('batch'))

False

In [56]:
print(sentence.startswith('this'))

False

In [57]:
surname = 'India will win todays match'
print(surname.endswith('matc',-6,-1))

True

In [58]:
# strip function is use to remove white spaces
name5 = '     dadda tyagi    '
print(name5)
# strip
print(name5.strip())
# left strip
print(name5.lstrip())
# right strip
print(name5.rstrip())

     dadda tyagi
dadda tyagi
dadda tyagi
     dadda tyagi

In [59]:
# split
a = 'hello,shreyash,myakal'
print(a.split(","))

['hello', 'shreyash', 'myakal']

In [60]:
a = 'prajwal#deshpande'
print(a.split("#"))

['prajwal', 'deshpande']

In [61]:
age = 22
txt = 'my name shreyash, my age is {}'
print(txt.format(age))

my name shreyash, my age is 22

In [62]:
name = 'Tukaram'
age = 22
txt = 'my name is {0}, my age is {1}'
print(txt.format(name,age))

my name is Tukaram, my age is 22

In [63]:
name = 'Tukaram'
age = 22
address = 'Hostel'
txt = 'my name is {}, my age is {}, I live in {}'
print(txt.format(name,age,address))

my name is Tukaram, my age is 22, I live in Hostel

In [64]:
name = 'Tukaram'
age = 22
address = 'Hostel'
txt = 'my name is {0}, my age is {2}, I live in {1}'
print(txt.format(name,address,age))

my name is Tukaram, my age is 22, I live in Hostel

# Lists
## List are heterogeneous
## List are changeable --> mutable (we can add,remove or change)
## List are indexed
## List are ordered
## Lists allows duplicate values

In [65]:
items = ['sugar','apple','grapes','kiwi']
print(items,type(items))

['sugar', 'apple', 'grapes', 'kiwi'] <class 'list'>

In [66]:
items1 = [1,2,3,400,500,600]
print(items1,type(items1))

[1, 2, 3, 400, 500, 600] <class 'list'>

In [67]:
items2 = ['cupboard','television','mobile',500,600,'projector',1000,200.34,3j]
print(items2,type(items2))

['cupboard', 'television', 'mobile', 500, 600, 'projector', 1000, 200.34, 3j] <class 'list'>

In [68]:
actors = list(('ajay devgan','akshay kumar','salman bhoi','SRK','Kartik','Rajpal yadav'))
print(type(actors))
print(actors)

<class 'list'>
['ajay devgan', 'akshay kumar', 'salman bhoi', 'SRK', 'Kartik', 'Rajpal yadav']

In [69]:
print(actors[2]) # positive index
print(actors[-4]) # negative index
print(actors[1:4]) # slicing
print(actors[-4:-3])# negative inding in forward slcing
print(actors[-4:-5:-1]) #negative indexing and reverse slicing....

salman bhoi
salman bhoi
['akshay kumar', 'salman bhoi', 'SRK']
['salman bhoi']
['salman bhoi']

In [70]:
veg = ['onion', 'potato', 'tomato', 'ginger', 'garlic']
veg[0] = 'carrot'
print(veg)

['carrot', 'potato', 'tomato', 'ginger', 'garlic']

## Sets

## Dictionary

### Dictionary are ordered collection of key:value pairs
### Dictionary are mutable
### Dictionary doesn't allow duplicate keys
### Dictionary use curly brackets to store the data

In [71]:
items = {1:'Marker',2:'Duster',3:'Register',4:'Mobie'}

In [72]:
print(items)
print(type(items))

{1: 'Marker', 2: 'Duster', 3: 'Register', 4: 'Mobie'}
<class 'dict'>

In [73]:
# We use double quotes ("") or \' for a string when we have single inverted(') in a character or element
str = 'Today is Pratik\'s birthday'
str1 = "Today is Pratik's birthday"

In [74]:
print(str)
print(str1)

Today is Pratik's birthday
Today is Pratik's birthday

In [75]:
shubham_address = {
    'lane no' : '44/3',
    'landmark' : 'near someshwar mandir',
    'locality' : 'chandan nagar',
    'city' : 'Pune'
}

In [76]:
print(shubham_address)
print(shubham_address['lane no'])
print(shubham_address['city'])
print(shubham_address['locality'])

{'lane no': '44/3', 'landmark': 'near someshwar mandir', 'locality': 'chandan nagar', 'city': 'Pune'}
44/3
Pune
chandan nagar

In [77]:
# to retrieve any key we can use get() function
x = shubham_address.get('locality')
print(x)
p = shubham_address['locality']
print(p)

chandan nagar
chandan nagar

In [78]:
# keys() function is used to retrieve all the keys from dictionary
print(shubham_address.keys())

# values() function is used to retrieve all the keys from dictionary
print(shubham_address.values())

dict_keys(['lane no', 'landmark', 'locality', 'city'])
dict_values(['44/3', 'near someshwar mandir', 'chandan nagar', 'Pune'])

In [79]:
#  removing key value with the help of pop() function
shubham_address.pop('landmark')

'near someshwar mandir'

In [80]:
print(shubham_address.keys())
print(shubham_address.values())

dict_keys(['lane no', 'locality', 'city'])
dict_values(['44/3', 'chandan nagar', 'Pune'])

In [81]:
# updating perticular key
shubham_address['city'] = 'Banglore'

In [82]:
shubham_address

{'lane no': '44/3', 'locality': 'chandan nagar', 'city': 'Banglore'}

In [83]:
shubham_address['Country'] = 'India'

In [84]:
shubham_address

{'lane no': '44/3',
 'locality': 'chandan nagar',
 'city': 'Banglore',
 'Country': 'India'}

In [85]:
# update() function is also used to update the key
shubham_address.update({'Country':'Qatar'})

In [86]:
shubham_address

{'lane no': '44/3',
 'locality': 'chandan nagar',
 'city': 'Banglore',
 'Country': 'Qatar'}

In [87]:
# popitem() function is used to remove last added item
shubham_address.popitem()
print(shubham_address)

{'lane no': '44/3', 'locality': 'chandan nagar', 'city': 'Banglore'}

In [88]:
add = shubham_address.copy()

In [89]:
add

{'lane no': '44/3', 'locality': 'chandan nagar', 'city': 'Banglore'}

In [90]:
add1 = shubham_address
add1

{'lane no': '44/3', 'locality': 'chandan nagar', 'city': 'Banglore'}

In [91]:
# Nested dictionary
shoeb = {
    'personal_info' : {'name':'shoeb',
                      'DOB':'21/06/99'},
    'address' : {'locality':'nandurbar',
                'state':'maharashtra'},
    'education': {'SSC':'pass',
                 'HSC':'pass'}
}

In [92]:
shoeb

{'personal_info': {'name': 'shoeb', 'DOB': '21/06/99'},
 'address': {'locality': 'nandurbar', 'state': 'maharashtra'},
 'education': {'SSC': 'pass', 'HSC': 'pass'}}

In [93]:
temp = shoeb['education']
print(temp['HSC'])

pass

In [94]:
print(shoeb['education']['HSC'])

pass

In [95]:
print(shoeb['education'].items())

dict_items([('SSC', 'pass'), ('HSC', 'pass')])

# Boolean 
### Boolean represents true or false

In [96]:
10 == 10

True

In [97]:
10 > 3

True

In [98]:
10 < 3

False

In [99]:
10 != 10

False

In [100]:
bool(0)

False

In [101]:
bool(1)

True

In [102]:
bool(-5)

True

In [103]:
bool('')

False

In [104]:
bool('programming')

True

In [105]:
bool()

False

In [106]:
bool(['apple','banana'])

True

In [107]:
bool([])

False

In [108]:
bool(())

False

## Operators in python

In [109]:
# Arithmetic Operators
100 + 50

150

In [110]:
x = 100
y = 50
x + y

150

In [111]:
x1 = 20
x2 = 5
x1 * x2

100

In [112]:
x1 / x2

4.0

In [113]:
x1 % x2

0

In [114]:
x1 ** x2

3200000

In [115]:
x1 // x2

4

In [116]:
# Assignment Operator hw
x1 = 10
x1 += 5
#hw
x = 10
y = 5
print('Addition is : ',(x+y))
print('Subtraction is : ',(x-y))
print('Multiplication is : ',(x*y))
print('Division is : ',(x/y))
print('Modulus is : ',(x%y))
print('Exponentiation is : ',(x**y))
print('Floor Division is : ',(x//y))

Addition is :  15
Subtraction is :  5
Multiplication is :  50
Division is :  2.0
Modulus is :  0
Exponentiation is :  100000
Floor Division is :  2

In [117]:
# Comparison Operators
50 != 30
p=10
q=7
print('p & q are equal : ',(p==y))
print('p & q are not equal : ',(p!=y))
print('p is greater than q : ',(p>q))
print('p is less than q : ',(p<q))
print('p is greater than or equal to q : ',(p>=q))
print('p is less than or equal to q : ',(p<=q))

p & q are equal :  False
p & q are not equal :  True
p is greater than q :  True
p is less than q :  False
p is greater than or equal to q :  True
p is less than or equal to q :  False

In [118]:
# Logical Operators
r=13
s=55
print('r > 5 and s < 60 : ',(r>5 and s<60))
print('r > 5 or s < 40 : ',(r>5 and s<40))
print('not(r>5 and s<60) : ',not(r>5 and s<60))

r > 5 and s < 60 :  True
r > 5 or s < 40 :  False
not(r>5 and s<60) :  False

In [119]:
# Identity Operators
t=32
u=32
print('t is u : ',t is u)
print('t is not u : ',t is not u)

t is u :  True
t is not u :  False

In [120]:
# Bitwise Operators
v=10
w=4
# Bitwise AND
print('v & w :',v & w)
# Bitwise OR
print('v | w :',v | w)
# Bitwise NOT
print('~v :',~v)
# Bitwise XOR
print('v ^ w :',v ^ w)

v & w : 0
v | w : 14
~v : -11
v ^ w : 14

# If else
### if else is used for decision making
### it is also known as conditional statement

In [121]:
# simple if
budget = 'yes'
if budget == 'yes':
    print('You can purchase')

You can purchase

In [122]:
# as condition is not getting satisfied it is not getting executed
budget = 'no'
if budget == 'yes':
    print('You can purchase')

In [123]:
# if else statement
budget = 'no'
if budget == 'yes':
    print('You can purchase')
else:
    print("You can't buy")

You can't buy

In [124]:
# if else ladder
budget = input('Enter the budget :')
if budget == 'low':
    print('Buy one item')
elif budget =='medium':
    print('Buy two items')
elif budget =='high':
    print('Buy three items')
else:
    print('Enter a valid value')

Enter the budget :300
Enter a valid value

In [125]:
# if else ladder weater = have tea
#if yes serve the tea
#else give me anything
choice = input('Sir, would you like to have tea? [y/n] : ')
if choice == 'yes':
    print('Serve the tea')
else:
    print('Give me anything')

Sir, would you like to have tea? [y/n] : n
Give me anything

In [126]:
#rainy cloudy sunny
#atmosphere
#cloudy i will stay at home
#rainy i would stay at home
#sunny i would go out
atmosphere = input('Sunny/Rainy/Cloudy : ')
if atmosphere == 'Sunny':
    print("I would go out")
else:
    print("I will stay at home")

Sunny/Rainy/Cloudy : sunny
I will stay at home

In [127]:
# hot yes it is very hot il cool it down and drink 
#cold your service is very bad ill not come again
#im not able to recognize
service = input("How's tea? [hot/cold] : ")
if service == 'hot':
    print('Yes, it is very hot ill cool it down and drink')
elif service == 'cold':
    print('Your service is very bad ill not come again')
else:
    print("I'm not able to recognize")

How's tea? [hot/cold] : hot
Yes, it is very hot ill cool it down and drink

In [128]:
choice = input('What is your choice : ')
if choice == 'katrina':
    print('Vicky Kaushal')
elif choice == 'ranbir kapoor':
    print(['alia','deepika'])
else:
    print('devdas')

What is your choice : katrina
Vicky Kaushal

# For loop in python
## it is used to iterate over a sequence i.e list, tuple, string, set

In [129]:
Fruits = ['apple','banana','cherry','pineapples']
for x in Fruits:
    print(x)

apple
banana
cherry
pineapples

In [130]:
print(x)

pineapples

In [131]:
pen = ['p1','p2','p3']
for pens in pen:
    print(pens)

p1
p2
p3

In [132]:
pens

'p3'

In [133]:
pen = ['p1','p2','p3']
for pens in pen:
    print('offer the pen :',pens)

offer the pen : p1
offer the pen : p2
offer the pen : p3

In [134]:
people = ('akash','prakash','nirash','avkash')

In [135]:
for peoples in people:
    print(peoples)

akash
prakash
nirash
avkash

In [136]:
# set is an unorder collection
setTemp = {'s1','s2','s3'}
for setTemps in setTemp:
    print(setTemps)

s2
s3
s1

In [137]:
people = {'akash','prakash','nirash','avkash'}
for peoples in people:
    print(peoples)

nirash
avkash
akash
prakash

In [138]:
people = ('akash','prakash','nirash','avkash')

In [139]:
salary = [10000,15000,20000,25000,30000,40000,50000,60000,70000]

In [140]:
for peoples in people:
    for salaries in salary:
        print(peoples,' : ',salaries)

akash  :  10000
akash  :  15000
akash  :  20000
akash  :  25000
akash  :  30000
akash  :  40000
akash  :  50000
akash  :  60000
akash  :  70000
prakash  :  10000
prakash  :  15000
prakash  :  20000
prakash  :  25000
prakash  :  30000
prakash  :  40000
prakash  :  50000
prakash  :  60000
prakash  :  70000
nirash  :  10000
nirash  :  15000
nirash  :  20000
nirash  :  25000
nirash  :  30000
nirash  :  40000
nirash  :  50000
nirash  :  60000
nirash  :  70000
avkash  :  10000
avkash  :  15000
avkash  :  20000
avkash  :  25000
avkash  :  30000
avkash  :  40000
avkash  :  50000
avkash  :  60000
avkash  :  70000

In [141]:
cntr = 0
for x in people:
    print(x,salary[cntr])
    cntr += 2

akash 10000
prakash 20000
nirash 30000
avkash 50000

In [142]:
str = 'Today is a wonderful day'
for x in str:
    print(x)

T
o
d
a
y

i
s

a

w
o
n
d
e
r
f
u
l

d
a
y

In [143]:
# shirts variabl 7  8 color bichme blue coor blue color pe stop
# with the break statement we can stop the loop before it has looped through all the items
shirts = ['white','red','pink','orange','green','blue','yellow']
for x in shirts:
    print(x)
    if(x == 'blue'):
        break;

white
red
pink
orange
green
blue

In [144]:
# With the continue statement we can stop the current iteration of the loop, and continue with the next statement
bikes = ['classic350','ninja','hayabusa','zxr','mt15','chetak','xl']
for m in bikes:
    if m == 'chetak':
        continue
    print(m)

classic350
ninja
hayabusa
zxr
mt15
xl

In [145]:
# range is used to generate series of number where the distance between is by 1
for r in range(8):
    print(r)

0
1
2
3
4
5
6
7

In [146]:
for r in range(101,110):
    print(r)

101
102
103
104
105
106
107
108
109

In [147]:
meeting = ['chandramukhi','kanchana','manjulika']
for mudassir in meeting:
    print('Meeting with : {}'.format(mudassir))

Meeting with : chandramukhi
Meeting with : kanchana
Meeting with : manjulika

In [148]:
mudassir

'manjulika'

In [149]:
meeting = ['chandramukhi','kanchana','manjulika']
for mudassir in meeting:
    print('Meeting with : {}'.format(mudassir))
else:
    print('Meetings are over!!!')

Meeting with : chandramukhi
Meeting with : kanchana
Meeting with : manjulika
Meetings are over!!!

# While loop
### with the while loop we can execute a set of statement as long as condition is true

In [150]:
i = 1
while i<6:
    print(i)
    i += 1

1
2
3
4
5

In [151]:
i = 1
while i<6:
    print(i)
    i += 1
    if i == 3:
        break

1
2

In [152]:
# lecture ring after each 8 lectures
lectures = 1
while lectures < 9:
    print('Lecture : ',lectures)
    print('Bell')
    lectures += 1

Lecture :  1
Bell
Lecture :  2
Bell
Lecture :  3
Bell
Lecture :  4
Bell
Lecture :  5
Bell
Lecture :  6
Bell
Lecture :  7
Bell
Lecture :  8
Bell

In [153]:
year = 2019
while year < 2024:
    print('Prime Minister : Modi : in year : ',year)
    year +=1

Prime Minister : Modi : in year :  2019
Prime Minister : Modi : in year :  2020
Prime Minister : Modi : in year :  2021
Prime Minister : Modi : in year :  2022
Prime Minister : Modi : in year :  2023

In [154]:
lecture = 1
c = 0
subject = ['English','Marathi','Math','Hindi','PT','History','Geography','Sanskrit']
while lecture < 9 and c < 9:
    for x in range(0,len(subject)):
        print("Lecture : ",lecture)
        print(subject[c],'Subject')
        print("Bell : lecture is over")
        c += 1
        lecture += 1

Lecture :  1
English Subject
Bell : lecture is over
Lecture :  2
Marathi Subject
Bell : lecture is over
Lecture :  3
Math Subject
Bell : lecture is over
Lecture :  4
Hindi Subject
Bell : lecture is over
Lecture :  5
PT Subject
Bell : lecture is over
Lecture :  6
History Subject
Bell : lecture is over
Lecture :  7
Geography Subject
Bell : lecture is over
Lecture :  8
Sanskrit Subject
Bell : lecture is over

In [155]:
lecture = 1
c = 0
subject = ['English','Marathi','Math','Hindi','PT','History','Geography','Sanskrit']
while lecture < 9 and c < 9:
    print("Lecture : ",lecture)
    print(subject[c],'Subject')        
    print("Bell : lecture is over")
    c += 1
    lecture += 1

Lecture :  1
English Subject
Bell : lecture is over
Lecture :  2
Marathi Subject
Bell : lecture is over
Lecture :  3
Math Subject
Bell : lecture is over
Lecture :  4
Hindi Subject
Bell : lecture is over
Lecture :  5
PT Subject
Bell : lecture is over
Lecture :  6
History Subject
Bell : lecture is over
Lecture :  7
Geography Subject
Bell : lecture is over
Lecture :  8
Sanskrit Subject
Bell : lecture is over

In [156]:
x = ['a','e','i','o','u']
while True:
    value = input('Enter the vowels : ')
    if(value in x):
        print('Yes you are right')
    else:
        break
print('Study grammer')

Enter the vowels : a
Yes you are right
Enter the vowels : c
Study grammer

In [157]:
while True:
    value = int(input('Enter marks : '))
    if(value>=60 and value<=100):
        print('Congratulations')
    else:
        break
print('Fail')

Enter marks : fail

ValueError: invalid literal for int() with base 10: 'fail'

# Functions in Python
### Function is reusable piece of code

In [ ]:
# if we want to execute this type of code multiple times we have to type the same code multiple times.....
# therefore we need a function
a = 10
b = 20
c = a + b
print(c)

In [ ]:
# lets create a function
def add(a,b):
    print(a + b)

In [ ]:
# calling a function
add(23495239459345793475934797394537945374957394571,3475937459374953749573434759237459237495)

In [ ]:
# we just need to write a single statement instead of four statements
add(18080,24566)

In [ ]:
# def is a keyword to create a function
# add is a user defined name given to function
# () is a part of syntax when we create a function, they are used to handle arguments or parameters
# a,b is the argument passed to the function
# print(a+b) here is the definition of the function
# definition means what a function is going to do

In [ ]:
# 1. parameterised and non-parameterised functions
# 2. returning and non-returning functions

In [ ]:
# parameterised function
# we need to pass some arguments to the function
# we need to pass an amount to get the packets of chips from the vending machine
#amount = float(input('Enter the amount : '))
def purchase(amount):
    if(amount>100):
        print('Collect the chips packet')
    else:
        print('Insufficient amount')

In [ ]:
purchase(120)

In [1]:
def add(a,b):
    print('Addition is : ',(a+b))
def sub(a,b):
    print('Substraction is : ',(a-b))
def mul(a,b):
    print('Multiplication is : ',(a*b))
def div(a,b):
    print('Division is : ',(a/b))

In [2]:
add(10,5)
sub(10,5)
mul(10,5)
div(10,5)

Addition is :  15
Substraction is :  5
Multiplication is :  50
Division is :  2.0

In [ ]:
# user 
user = int(input('1 - Addition \n2 - Substraction \n3 - Multiplication \n4 - Division\nEnter your choice : '))
if(user==1 or user==2 or user==3 or user==3 or user==4):
    a = int(input('Enter value of a : '))
    b = int(input('Enter value of b : '))
    if(user==1):
        add(a,b)
    elif(user==2):
        sub(a,b)
    elif(user==3):
        mul(a,b)
    elif(user==4):
        div(a,b)
    else:
        print('Invalid')
else:
    print('Invalid choice')

In [4]:
# user 
print('1 - Addition \n2 - Substraction \n3 - Multiplication \n4 - Division \n5 - Exit')
while(1):
    user = int(input('Enter your choice : '))
    if(user==1 or user==2 or user==3 or user==3 or user==4):
        a = float(input('Enter value of a : '))
        b = float(input('Enter value of b : '))
        if(user==1):
            add(a,b)
        elif(user==2):
            sub(a,b)
        elif(user==3):
            mul(a,b)
        elif(user==4):
            div(a,b)
        elif(user==12):
            break;
        else:
            break;
    else:
        print('Invalid choice')
        break;

1 - Addition
2 - Substraction
3 - Multiplication
4 - Division
5 - Exit
Enter your choice : 1
Enter value of a : 2
Enter value of b : 3
Addition is :  5.0
Enter your choice : 3
Enter value of a : 20
Enter value of b : 2
Multiplication is :  40.0
Enter your choice : 12
Invalid choice

In [ ]:
# For loops real life examples are as follows:
## Twitter/facebook mutual list
## music player plays until list finish
##

In [1]:
# own functions
## clg tbhi jayenge jab ml class rahega otherwise no
def DecideClg(dec):
    if(dec=='yes'):
        print('You have to attend clg')
    else:
        print('Bunk it....')
##
userInput = str(input("Aaj shiv sir class sir class ghenare ka? \n[yes/no]"))
DecideClg(userInput)

Aaj shiv sir class sir class ghenare ka?
[yes/no]no
Bunk it....